@import url(/client/public/Fonts/NanumSquareRoundR.ttf);

.board-main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
    font-family: 나눔스퀘어라운드;
}
.board-title{
    font-size: 25px;
    color: gray;
}



/*메뉴*/
.board-menu-title{
    width: 235px;
    height: 40px;
    background-color:#6ba5da;
    display: flex;
    align-items: center;
    color: white;
    margin-top: 20px;
    font-size: 15px;
    padding-left: 10PX;
    font-weight: bold;
}
.board-search{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 30px;

}
.board-search-img{
    height: 18px;
    margin: 5px;
}
.board-search-input{
    height: 25px;
    width: 160px;
    border: none;
}
.board-btn{
    width: 50px;
    height: 30px;
    border: none;
}
.board-menu-cate{
    height: 600px;
    justify-content: center;
    margin-top: 20px;
}
ul,li {margin:0; padding:0;}

.board-menu-cate ul li{
    list-style: square;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: gray;
    font-size: 14px;
    height: 18px;
    align-items: center;
    padding: 10px;
    margin-top: 10PX;
}
li:hover{
    background-color:#eeeeee86 ;
}
.board-line{
    border: solid 1px #e0e0e063;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 780px;
}

/*게시판*/


.board-content{
    width: 800px;
    height: 100%;
    margin: 45px;
}
.board-new-title ,.board-introduce-title{
    height: 30px;
    width: 785px;
    margin-bottom: 10px;
}
.board-new-title{
    display: flex;
    align-items: center;
}
.board-introduce-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.board-select{
    width: 70px;
    border: none;

}
.board-select-option {
    height: 30px;
    border: none;
}
.board-new-content{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.board-card{
    width: 360px;
    height: 210px;
    border: solid 1px #bfbfbf;
    background-color: #ffffff;
    margin: 15px;
}
.board-introduce1{
    width: 800px;
    height: 100%;
}
.board-introduce-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.board-introduce-content-card{
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
}