
/*회원가입 메인*/
.insert-choice{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 220px;
    
}
.insert-choice button{
    width: 200px;
    height: 45px;
    color: white;
    background-color:#f31515 ;
    margin-bottom: 20px;
    border: none;
    font-weight: 600;
    font-size: 14px;
}
/*회원가입 폼 양식*/
.insert-main {
    display: flex;
    flex-direction: column;
}

.insert-title {
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    
}

.insert-form {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.insert-formSpan {
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 5px;
    padding-left: 3px;
}
.star{
    color:red;
    font-size: 12pt;
    font-weight: 600;
    margin-left: 5px;
}

.insert-formID,.insert-formPass,.insert-formName,.insert-formEmail ,.insert-formPhone,.insert-formAddNo, .insert-formAdd,.insert-formAdd2,.insert-formSelt {
    width: 170px;
    height: 38px;
    border: none;
    background-color:rgba(231, 231, 231, 0.315);
    margin-bottom: 13px;
    padding: 0px 10px 0px 10px;
    font-size: 12pt;
}
.insert-formAddBtn{
    width: 80px;
    height: 30px;
    margin-left: 7px;
    border: none;
    background-color:gray;
    color:white;
    font-size: 10pt;
}
.insert-formAdd2{
    margin-left: 7px;
}
.insert-formSelt{
    border: none;
}
 
.insert-btns {
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.insert-insertBtn {
    width: 130px;
    height: 40px;
    background-color:#f31515 ;
    border: none;
    color:white;
    font-weight: 600;
}

.insert-insertCancel {
    width: 130px;
    height: 40px;
    background-color: gray;
    border: none;
    color:white;
    font-weight: 600;
}