/*-메인프로필 왼쪽영역-*/

.company-user-mainprofile{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}
.company-user-mainprofile-left, .user-count ,.user-count span{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    margin-bottom: 10px;
    color: #5a5a5a;
}    
.user-name{
    margin-bottom: 30px;
}
.userProfile-img{
    width: 100px;
    height: 100px;
    margin-bottom: 30px;
}
/*-메인프로필 오른쪽영역-*/
.company-user-mainprofile-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}
.mainprofile-chart{
    width: 330px;
    height: 300px;
    font-size: 16px;
}

.mainprofile-chartranking{
    width: 220px;
    height: 25px;
    background-color: rgb(200, 229, 255);
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 3px;

}
.mainprofile-chartranking span{
    color: #5a5a5a;
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
}