html, body, .app-main, #root, .root-main {
    width: 100%;
}

html {
    overflow-y: scroll;
}

a, ul, li { 
  text-decoration: none;
  color: black;
}

button {
    cursor: pointer;
}

.root-main {
    display: flex;
    flex-direction: column;
}

.root-mainDiv {
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}