@font-face { font-family: 'BBTreeGB'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGB.woff') format('woff'); font-weight: normal; font-style: normal; }

html, body, .app-main, #root, .app-main {
    width: 100%;
    height: 100%;
}

html {
    overflow-y: scroll;
}

a, ul, li { 
  text-decoration: none;
  color: black;
}

button {
    cursor: pointer;
}

input::placeholder {
    color: #bbbbbb;
    font-family: 나눔스퀘어;
    font-size: 14px;
}

div, a, span, input, input::placeholder, textarea, textarea::placeholder, pre {
    font-family: 'BBTreeGB';
}

pre {
    white-space: pre-wrap;
}