.mypopup-main {
    width: 60px;
    height: 263px;
    position: fixed;
    z-index: 10;
    box-shadow: 0.5px 2px 1.9px 0.2px rgba(84, 84, 84, 0.26);
    background-color: #759dc4c5;
    top: 76px;
    right: 0;
    justify-content: center;
}

.mypopup-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.mypopup-menuImg {
    cursor: pointer;
}
.mypopup-logout{
    cursor: pointer;
    font-weight: 700;
    font-family: 나눔스퀘어;
    color: #5b7d9e;
    padding: 10px;
    background-color: white;
    height: 20px;
   
}
.mypopup-div img, .mypopup-logout{
    opacity: 0.8;
}
.mypopup-div img:hover, .mypopup-logout:hover{
    opacity: 1;
}
   
/* ------------------------- 메세지 --------------------------------------*/

.msg-main {
    width: 631px;
    height: 560px;
    opacity: 0.99;
    box-shadow: 0 0 3.3px 0.7px rgba(131, 131, 131, 0.2);
    background-color: #ffffff;
    position: fixed;
    z-index: 10;
    top: 76px;
    right: 76px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.msg-title {
    font-family: NanumSquareR;
    font-size: 14px;
    color: #636363;
    margin-top: 18px;
    margin-bottom: 18px;
}

.msg-content {
    width: 587px;
    height: 441px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.msg-leftTitle {
    width: 283px;
    height: 37px;
    background-color: #759dc4c5;
    font-family: NanumSquareR;
    font-size: 12px;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.msg-Span {
    font-family: NanumSquareR;
    font-size: 12px;
    color: #ffffff;
    margin-left: 15px;
}

.msg-leftDiv {
    height: 402px;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 19px;
    overflow-y: scroll;
}

.msg-leftContent {
    width: 257px;
    height: 71px;
    box-shadow: 0 0 3.9px 0.1px rgba(131, 131, 131, 0.2);
    background-color: #f8f8f8;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 12px;
}

@import url(/client/public/Fonts/NanumSquareRoundR.ttf);

.msg-leftImg {
    width: 55px;
    height: 54px;
    border: solid 1px #eeeeee;
    background-color: #eeeeee;
    border-radius: 50%;
    margin-left: 6px;
    margin-right: 12px;
}

.msg-leftBox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.msg-leftBoxTitle {
    font-family: NanumSquareR;
    font-size: 14px;
    color: #9b9b9b;
}

.msg-leftBoxContent {
    font-family: NanumSquareR;
    font-size: 12px;
    color: #9b9b9b;
    margin-top: 10px;
}

.msg-rightTitle {
    width: 296px;
    height: 37px;
    background-color: #759dc4c5;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.msg-rightContent {
    margin-top: 16px;
    margin-bottom: 4px;
    height: 319px;
    width: 100%;
    border: 1px solid rgba(196, 196, 196, 0.445);
    overflow-y: scroll;
}

.msg-rightInput {
    width: 297px;
    height: 77px;
    display: flex;
    flex-direction: row;
}

.msg-textarea {
    resize: none;
    width: 221px;
    height: 100%;
    background-color: #f8f8f8;
    border: none;
}

.msg-btn {
    width: 76px;
    height: 81px;
    background-color: #759dc4c5;
    border: none;
    font-family: NanumSquareR;
    font-size: 14px;
    color: #ffffff;
}

/* ------------------------------ 알람 ---------------------------------*/

.alram-main {
    width: 308px;
    height: 236px;
    box-shadow: 0 0 3.3px 0.7px rgba(131, 131, 131, 0.2);
    background-color: #ffffff;
    position: fixed;
    z-index: 11;
    top: 76px;
    right: 76px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alram-title {
    font-family: NanumSquareR;
    font-size: 16px;
    color: #858484;
    margin-top: 7px;
    margin-bottom: 6px;
}

.alram-content {
    width: 297px;
    height: 80%;
    overflow-y: scroll;

}


.alram-box {
    width: 262px;
    height: 122px;
    box-shadow: 0 0 3.9px 0.1px rgba(131, 131, 131, 0.2);
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
    margin-left: 10px;
}

.alram-boxTop {
    margin-top: 15px;
    margin-bottom: 14px;
    margin-left: 14px;
}

.alram-boxImg {
    width: 14px;
    height: 14px;
    margin-right: 8px;
}

.alram-boxTitle {
    font-family: NanumSquareR;
    font-size: 15px;
    color: #8c8c8c;
}

.alram-boxSpan {
    font-family: NanumSquareR;
    font-size: 12px;
    color: #9b9b9b;
    margin-left: 16px;
}

.alram-boxBtn {
    margin-top: 12px;
    margin-left: 11px;
    font-family: NanumSquareR;
    font-size: 12px;
    color: #f5f5f5;
    width: 237px;
    height: 38px;
    background-color: #759dc4c5;
    border: none;
}