.AddProfile-content
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.AddProfile{
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 330px;
    background-color: white;
    box-shadow: 1px 2px 1.9px 1px rgba(84, 84, 84, 0.26);
    z-index: 10;
    left: 0;
    top: 90px;
}
.AddProfile-title{
    height: 40px;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-bottom: 1px solid rgba(148, 148, 148, 0.445);
}
.AddProfile li{
    height: 40px;
    width: 260px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
ul li {
    margin: 0;
    list-style: none;
}
.AddProfile-Btns{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.AddProfile-saveBtn,.AddProfile-closeBtn{
    width: 50%;
    height: 40px;
    text-align: center;
    justify-content: center;
    color: white;
    border: none;
    margin-top: 10px;
}
.AddProfile-saveBtn{
    background-color: #6ba5da;
}
.AddProfile-closeBtn{
    background-color: #bfcad4;
}