@import url(/client/public/Fonts/NanumSquareRoundR.ttf);

.rookieCertificate{
    border-bottom: 1px solid #d3d3d3f1;
    margin-left: 50px;
    margin-right: 50px;
    padding:50px;
    color: #5a5a5a;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    font-family: NanumSquareR;
}

.rookieCertificate-title,.rookieCertificate-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.rookieCertificate-title-text,.rookieCertificate-relayout{
    margin-bottom: 30px;
}
.rookieCertificate-title-text{
    font-size: 24px;
}
.rookieCertificate-relayout{
    font-size: 12px;
}
.rookieCertificate-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.rookieCertificate-content-title,.rookieCertificate-content-info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    height: 40px;
    font-size: 16px;
}
.rookieCertificate-content-title{
    font-weight: 600;
    background-color: #e9f4ff7a;
}
.rookieCertificate-content-title span , .rookieCertificate-content-info span{
    width: 265px;
    margin-top: 10px;
    border-bottom: 1px solid #d3d3d3f1;
}