@import url(/client/public/Fonts/NanumSquareRoundR.ttf);


.rookieAwards{
    border-bottom: 1px solid #d3d3d3f1;
    margin-left: 50px;
    margin-right: 50px;
    padding:50px;
    color: #808080;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    font-family: NanumSquareR;
}
.rookieAwards-title,.rookieAwards-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.rookieAwards-title-text,.rookieAwards-relayout{
    margin-bottom: 30px;
}
.rookieAwards-title-text{
    font-size: 24px;
}
.rookieAwards-relayout{
    font-size: 12px;
}
.rookieAwards-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.rookieAwards-content-title,.rookieAwards-content-info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    height: 40px;
    font-size: 16px;
}
.rookieAwards-content-title{
    font-weight: 600;
    background-color: #e9f4ff7a;
}
.rookieAwards-content-title span , .rookieAwards-content-info span{
    width: 200px;
    margin-top: 10px;
    border-bottom: 1px solid #d3d3d3f1;
}