@import url(/client/public/Fonts/NanumSquareRoundR.ttf);

.rookieInfo{
    border-bottom: 1px solid #d3d3d3f1;
    margin-left: 50px;
    margin-right: 50px;
    padding:50px;
    color: #5a5a5a;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    font-family: NanumSquareR;
}
.rookieInfo-content input{
    height: 25px;
    border-radius: 5px;
    border: 1px solid rgba(185, 185, 185, 0.842);
    padding: 5px;
    width: 150px;
    color:gray;
    font-size: 14px;
}
.rookieInfo-title{
    justify-content: space-between;
}
.rookieInfo-title,.rookieInfo-content{
    display: flex;
    flex-direction: row;
}
.rookieInfo-title-text,.rookieInfo-relayout{
    margin-bottom: 15px;
}
.rookieInfo-title-text{
    font-size: 24px;
}
.rookieInfo-relayout{
    font-size: 12px;
}
.address select{
    width: 120px;
    margin-right: 4px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid rgba(185, 185, 185, 0.842);
    color:gray;
    font-size: 14px;
}
.phone,.email,.site,.address,.workdate,.trainingdate,.university,.wontjob{
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    margin: 10px;
}
.phone-title,.email-title,.site-title,.address-title,.workdate-title,.trainingdate-title,.university-title,.wontjob-title{
    width: 140px;
    text-align: left;
}
.phone-info,.email-info,.site-info,.address-info,.workdate-info,.trainingdate-info,.university-info,.wontjob-info{
    width: 250px;
}
