.RecoCompany{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(5, 5, 5, 0.342);
    width: 100%;
    position: fixed;
    top: 0;
    height: 980px;
    font-family: NanumSquareB;
    color: #929292;
    z-index: 1000;
}
.RecoCompany-content{
    display: flex;
    border-radius: 10px;
    box-shadow: 0 0 8px 0.2px rgba(131, 131, 131, 0.13);
    width: 900px;
    height: 650px;
    background-color: white;
    z-index: 2000;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.RecoCompany-content-slide{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content: center;

}
.RecoCompany-content-title{
    font-size: 20px;
    font-weight: 600;
    margin-top: 50px;
}
.RecoCompany-content-view{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    height: 500px;
    width: 80%;
    border: 1px solid rgba(165, 165, 165, 0.281);
    background-color: white;

}
.RecoCompany-content-card{
    width: 230px;
    height: 310px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    
}
.RecoCompany-content-card span{
    font-size: 14px;
    
}
.RecoCompany-content-btns-arrow{
    color:rgba(131, 131, 131, 0.295);
    cursor: pointer;
    margin:20px;
}
.RecoCompany-content-btns-text{
    color: gray;
    font-weight: 600;
}
.RecoCompany-content-slide{
    justify-content: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: center;
}