.rookie-user-title{
    height: 50px;
    align-items: center;
    text-align: left;
    justify-content:center;
    margin:50px;
    margin-bottom: 0px;
    border-bottom: 1px solid #d3d3d3f1;
}
.rookie-user-title img{
    width: 50px;
    height: 30px;
    float: left; 
}
.rookie-user-title span{
    margin-left: 40px;
    font-size: 2rem;
    color: #5a5a5a;
}

/*버튼영역*/
.hire-btn{
    background-image: url(/Image/usermypage_ptbtnf.png);
    top:150px;
    z-index: 1;
    position: absolute;
    width: 190px;
}
.hireh-btn{
    background-image: url(/Image/usermypage_ptbtn.png);
    top:150px;
    position: absolute;
    width: 80px;
}
