.main-index {
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 900px;
    justify-content: space-around;
}

.main-intro {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 100px;
}

.main-title {
    font-size: 30px;
    font-weight: bold;
}

.main-text {
    font-size: 16px;
    font-weight: bold;
    margin-top: 30px;
    margin-left: 50px;
}

.main-box {
    background-color: rgba(231, 231, 231, 0.315);
    width: 230px;
    height: 160px;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    

}

.main-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 85%;
    font-size: 18px;
    font-weight: 600;
}

.main-login, .main-insert {
    background-color: white;
    width: 190px;
    height: 35px;
    padding-top: 15px;
    text-align: center;
    
}

.main-login:hover ,.main-insert:hover {
    color: white;
    background-color: gray;
}