/* -------------------- -------------------- HEADER -------------------- -------------------- */
.headerMain {
    height: 100px;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* -------------------- -------------------- FOOTER -------------------- -------------------- */
.footerMain {
    height: 120px;
    border-top: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}