@import url(/client/public/Fonts/NanumSquareRoundR.ttf);

.base-main {
    width: 100%;
    height: 100%;
    flex-direction: column;
}

/* ---------------------------- HEADER ------------------------- */

.header-main {
    width: 100%;
    height: 44px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: solid 1px #99999963;
    background-color: #ffffff;
}

.header-logoDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 280px;
}

.header-logo {
    cursor: pointer;
}

.header-logo-span {
    font-size: 16px;
    font-weight: noter;
    color: #5a5a5a;
    font-family: 나눔스퀘어라운드;
    font-weight: 600;
}

.header-buttonDiv {
    display: flex;
    flex-direction: row;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header-btn {
    width: 96px;
    height: 35px;
    background-color: #66a9f1;
    font-family: H2hdrM;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
    margin-right: 9px;
    border: none;
    font-family: 나눔스퀘어라운드;
}

/* ---------------------------- FOOTER ------------------------- */

.footer-main {
    width: 100%;
    height: 120px;
    background-color: #eeeeee;
    font-family: 나눔스퀘어라운드;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.footer_logo{
    margin-right: 2%;
}
.footer_notice{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 9pt;
    color: #c7c7c7;
}
.footer_text{
    margin: 5px;
}

/*------------------up and down---------------------*/
.updown{
    position: fixed;
    z-index: 1000;
    right: 0;
    bottom: 3%;
}
.updown-up, .updown-down{
    margin: 10px;
}
.ua{
    display: scroll;
}