/*Header*/

.Header{    
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    color:rgba(85, 85, 85, 0.822);   
    border-bottom: 1px solid rgba(189, 187, 187, 0.301);
}
.Header-nav{
    width: 67%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    text-align: center;
}
.Header-nav-menu,.Header-nav-menu span{
    margin-left: 40px;
    cursor:pointer;
}
.Header-nav-menu-span{
    color:rgba(85, 85, 85, 0.822);  
    font-weight: 600;
}
.Header-nav-recommendbtn,.Header-nav-recommendbtn span{
    margin-right: 20px;
    cursor:pointer;
    font-weight: 600;
}

/*UpDown*/
.updown{
    position: fixed;
    z-index: 1000;
    right: 0;
    bottom: 1%;
}
.updown-up, .updown-down{
    width: 47px;
    height: 47px;
    border-radius:50%;
    margin:10px;
    box-shadow: 0px 2px 3.6px 1.4px rgba(87, 86, 86, 0.24);
    background-color: #f2f2f2;
}
.updown-icons{
    align-items:center;
    justify-content:center;
    color:white;
}
.updown-icons:hover{
    color: #96c0e2;
}
/*Footer*/
.Footer{
    width: 100%;
    height: 120px;
    background-color: #eeeeee;
    font-family: 나눔스퀘어라운드;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Footer_notice{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 9pt;
    color: #c7c7c7;
    margin-left: 100P;
}
.Footer_text{
    margin: 5px;
}
