/*Header*/

.Header{    
    height: 480px;
    width: 100%;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    position: absolute;
    color:white;
    
}
.Header-nav{
    width: 1256px;
    height: 47px;
    background-image: url(/Images/nav_bg.png);
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    text-align: center;
}
.Header-nav-menu,.Header-nav-menu span{
    margin-left: 40px;
    cursor:pointer;
    
}
.Header-nav-menu-span{
    color: white;
    font-weight: 600;
}
.Header-nav-recommendbtn,.Header-nav-recommendbtn span{
    margin-right: 40px;
    cursor:pointer;
    font-weight: 600;

}

/*MainHeader*/
.MainHeader{
    height: 480px;
    align-items: center;
    color: white;
    font-family: NanumSquareR;
    font-size: 16px;
    background-image: url(/Images/header_bg.png);
    flex-direction: column;
    
}
.MainHeader-content{
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
}
.MainHeader-text{
    align-items: center;
    margin-left: 400px;
}
h2,h3,h4{
    margin-top:55px;
}
.MainHeader-btns{
    display: flex;
    margin-right: 400px;
    align-items: flex-end;

}
.MainHeader-btns button{
    border: none;
    width: 122px;
    height: 37px;
    color: white;
    opacity: 0.7;
    font-family: NanumSquareEB;
    font-size: 14px;
    margin: 10px;
}
.MainHeader-btns-Login{
    background-color: #809fba;
}
.MainHeader-btns-Insert{
    background-color: #c398ca;
}
.MainHeader-btns button:hover{
    opacity: 0.9;
}
.MainHeader-btns-line{
    border-top: solid 1px white;
    width: 400px;
    opacity: 0.7;
    float: right;
    margin-right: 400px;
    text-align: right;
    padding: 10px;
}
.MainHeader-btns-easy{
    font-family: NanumSquareB;
    font-size: 14px;
    color: white;
    cursor:pointer;
}

/*OtherHeader*/
.OtherHeader{
    height: 140px;
    background-image: url(/Images/board_header_bg.png);
}
/*UpDown*/

.updown{
    position: fixed;
    z-index: 1000;
    right: 0;
    bottom: 3%;
}
.updown-up, .updown-down{
    margin: 10px;
    width: 48px;
    height: 48px;

}
.updown-up{
    background-image: url(/Image/base_up.png);
}
.updown-up:hover{
    background-image: url(/Image/base_up_h.png);
}
.updown-down{
    background-image: url(/Image/base_down.png);
}
.updown-down:hover{
    background-image: url(/Image/base_down_h.png);
}
/*Footer*/
.Footer{
    width: 100%;
    height: 120px;
    background-color: #eeeeee;
    font-family: 나눔스퀘어라운드;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Footer_notice{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 9pt;
    color: #c7c7c7;
    margin-left: 100P;
}
.Footer_text{
    margin: 5px;
}
