.login-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.login-title {
    font-size: 30px;
    font-weight: bold;
    margin-top: 30px;
}
.login_box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    margin-top: 100px;
    margin-bottom: 300px;
}
.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-formID , .login-formPass {
    width: 180px;
    height: 40px;
    border: none;
    background-color:rgba(231, 231, 231, 0.315);
    margin-bottom: 13px;
    padding: 0px 10px 0px 10px;
    font-size: 12pt;
}

.login-line {
    height: 200px;
    border-right: 1px solid gray ;
}

.login-choice{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.login_box button,.login-choice button{
    width: 200px;
    height: 45px;
    color: white;
    background-color:#f31515 ;
    margin-bottom: 13px;
    border: none;
    font-weight: 600;
    font-size: 14px; 
}
