.Chart{
    height: 100%;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}
.Chart-Main{
    filter: blur(4px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    -ms-user-select: none; -moz-user-select: -moz-none; -webkit-user-select: none; -khtml-user-select: none; user-select:none;
}
.ChartSet{
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
}
.ChartSet>p{
    background-color: rgba(255, 255, 255, 0.788);
}