.Info-rookie-inputDiv {
    display: flex;
    flex-direction: column;
    margin: 15px;
    margin-left: 20px;
}

.Info-rookie-inputCaption {
    font-size: 15px;
    margin: 5px;
}

.Info-rookie-inputDiv-sub {
    display: flex;
    flex-direction: row;
}

.Info-rookie-input {
    width: 200px;
    height: 20px;
    border: 1px solid rgba(126, 126, 126, 0.466);
    border-radius: 5px;
    padding: 10px;
}