/* ----------------------- Header ------------------ */

.Header{    
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    color:#646464; 
    border-bottom: 1px solid rgba(189, 187, 187, 0.301);
    position: fixed;
    background-color: white;
    top: 0;
    z-index: 2000;
}

.Header-logo {
    margin-right: 10px;
}

.Header-nav{
    width: 67%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    text-align: center;
}

.Header-nav-menu, .Header-nav-menu div{
    padding-left: 20px;
    padding-right: 20px;
    cursor:pointer;
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.Header-nav-menu a {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Header-nav-menu div {
    width: 50px;
    color:#646464;
}

.Header-nav-menu div:hover { 
    color:#494949; 
    
}

.Header-nav-menu-div{
    color:rgb(0, 0, 0);  
    font-weight: 600;
}

.Header-nav-recommendbtn, .Header-right div{
    padding-right: 10px;
    padding-left: 10px;
    cursor:pointer;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.Header-nav-recommendbtn {
    height: 75px;
}
.Header-nav-recommendbtn:hover { 
    color:#008fbb;
}
.Header-logout:hover {
    color: #008fbb;
}

@media all and (min-width:1px) and (max-width:1300px) {
    .Header-nav{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        align-items: center;
        text-align: center;
    }

    .Header-nav-menu div{
        color: #000000;
        font-weight: 600;
        font-size: 12px;
        width: 35px;
    }

    .Header-nav-recommendbtn div {
        padding-right: 10px;
        padding-left: 10px;
        cursor:pointer;
        font-weight: 600;
        font-size: 12px;
    }
}

@media all and (min-width:1px) and (max-width:600px) {
    .Header-nav-recommendbtn {
        font-size: 12px;
    }

    .Header-logout {
        font-size: 12px;
    }
}

@media all and (min-width:1px) and (max-width:300px) {
    .Header-logo {
        display: none;
    }
    .Header-nav-recommendbtn div {
        display: none;
    }
}

.Header-nav-layout {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* ----------------------- UpDown ------------------ */

.updown{
    position: fixed;
    z-index: 1000;
    right: 0;
    bottom: 1%;
}

.updown-up, .updown-down{
    width: 47px;
    height: 47px;
    border-radius:50%;
    margin:10px;
    box-shadow: 0px 2px 3.6px 1.4px rgba(87, 86, 86, 0.24);
    background-color: #f2f2f2;
}

.updown-icons{
    align-items:center;
    justify-content:center;
    color:white;
}

.updown-icons:hover{
    color: #96c0e2;
    cursor: pointer;
}

/* ----------------------- Footer ------------------ */

.Footer{
    width: 100%;
    height: 120px;
    background-color: #eeeeee;
    font-family: 나눔스퀘어라운드;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Footer_notice{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 9pt;
    color: #c7c7c7;
    margin-left: 100P;
}
.Footer_text{
    margin: 5px;
}