@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

/* -------------------------- top ----------------------- */

.Main-new {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Nanum Gothic', sans-serif;
}

.Main-new-Div {
    width: 100%;
    height: 516px;
    background-color: #ddf7ffc2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Nanum Gothic', sans-serif;
}

.Main-new-right {
    display: flex;
    flex-direction: column;
    margin-right: 101px;
}

.Main-new-title {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 24px;
    color:#646464; 
    font-weight: 600;
    margin-top: 96px;
    text-align: center;
}

.Main-new-subTitle {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 18px;
    color:#646464; 
    font-weight: 600;
    margin-top: 46px;
}

.Main-new-text {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 15.5px;
    color:#646464; 
    font-weight: 600;
    margin-top: 50px;
    line-height: 30px;
}

.Main-new-loginDiv {
    display: flex;
    flex-direction: row;
    margin-top: 55px;
    margin-bottom: 12px;
}

.Main-new-insert {
    width: 122px;
    height: 38px;
    opacity: 0.7;
    background-color: #ffffff;
    border: 1px solid #9781d0;
    font-family: NanumSquareEB;
    font-size: 14px;
    color:#646464; 
    margin-right: 15px;
    font-weight: 600;
}
.Main-new-insert:hover { background-color: #f7f4ff;color: #4e3692}

.Main-new-login {
    width: 122px;
    height: 38px;
    opacity: 0.7;
    background-color: #ffffff;
    border: 1px solid #9781d0;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 14px;
    color:#646464; 
    font-weight: 600;
}
.Main-new-login:hover  { background-color: #f7f4ff;color: #4e3692 }

.Main-new-line {
    width: 283px;
    height: 2px;
    background-color: #7979792c;
    margin-bottom: 15px;
}

.Main-new-es {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 14px;
    color:#838383; 
    font-weight: 600;
}
.Main-new-es:hover { color: #9781d0; }

.Main-new-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.liu {
    width: 100%;
    height: auto;
}

/* -------------------------- center ----------------------- */

.Main-new-center {
    display: flex;
    justify-content: center;
    width: 100%;
   
}

.Main-new-centerTitle {
    margin-top: 100px;
    margin-bottom: 100px;
    color:#646464;
}

.Main-new-centerBody {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    width: 75%;
    flex-wrap: wrap;
    margin-bottom: 200px;
}

.Main-new-centerItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 290px;
    width: 275px;
    border-radius: 10px;
    box-shadow: 0 0 9.8px 0.2px rgba(131, 131, 131, 0.17);
    border: solid 1px #eeeeee;
    background-color: #ffffff;
    margin: 10px;
    overflow: hidden;
}

.Main-new-itemImg {
    width: 70px;
    height: 70px;
}

.Main-new-itemTitle {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 16px;
    color:#646464; 
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 8px;
}

.Main-new-itemSpan {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 14px;
    color:#646464; 
    font-weight: 500;
    margin: 3px;
    width: 220px;
    text-align: center;
}

/* -------------------------- bottom ----------------------- */

.Main-new-bottom {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  color:#ffffff;
}

.bottom-box{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    text-align: left;
    align-items: center;


}
.bottom-box-r{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: space-evenly;
    text-align: left;
    align-items: center;
}
.bottom-box>.bottom-box-img>img,.bottom-box-r>.bottom-box-img>img{
    width: 100%;
    box-shadow: 0px 0px 5px rgb(180, 180, 180);
    margin-top: 20px;
    margin-bottom: 20px;
}
.bottom-box-content>p{
    font-size: 1.2em;
    font-weight: 600;
}
.bottom-box-content>h1{
    font-size: 1.7em;
}
.bottom-box-img{
    width: 450px;
}
button.start{
    width: 70%;
    height: 50px;
    margin:50px;
    border: none;
    color:#646464; 
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 16px;
    font-weight: 600;
    background-color: #ffffff;
}
button.start:hover{
    background-color: #d080ff70;
    color: #ffffff;
}
/* --------------- 반응형 처리 --------------- */
@media all and (min-width:1100px) and (max-width:1300px) {
    .Main-new-right {
        display: flex;
        flex-direction: column;
        margin-right: 25px;
    }
    
    .Main-new-title {
        font-family: NanumSquareEB;
        font-size: 18px;
        color:#646464;
        font-weight: 600;
        margin-top: 96px;
    }
    
    .Main-new-subTitle {
        font-family: NanumSquareEB;
        font-size: 14px;
        color:#646464; 
        font-weight: 600;
        margin-top: 46px;
    }
    
    .Main-new-text {
        font-family: NanumSquareEB;
        font-size: 12px;
        color:#646464;
        font-weight: 600;
        margin-top: 50px;
        line-height: 30px;
    }

    .bottom-box-img{
        width: 350px;
    }
}

@media all and (min-width:1px) and (max-width:1100px) {
    .Main-new-Div {
        width: 100%;
        height: 1000px;
        background-color: #e8faff8f;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .Main-new-right {
        width: 100%;
        margin-left: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .Main-new-title {
        font-family: NanumSquareEB;
        font-size: 22px;
        color:#646464;
        font-weight: 600;
        margin-top: 0px;
    }
    
    .Main-new-subTitle {
        font-family: NanumSquareEB;
        font-size: 18px;
        color:#646464;
        font-weight: 600;
        margin-top: 46px;
    }
    
    .Main-new-text {
        font-family: NanumSquareEB;
        font-size: 16px;
        color:#646464;
        font-weight: 600;
        margin-top: 50px;
        line-height: 30px;
        text-align: center;
    }

    .Main-new-left {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .bottom-box{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
        text-align: center;
        align-items: center;
    }
    .bottom-box-content>p{
        font-size: 1em;
        font-weight: 600;
        text-align: center;
    }
    .bottom-box-content>h1{
        font-size: 1.5em;
    }
    .bottom-box-img{
        width: 300px;
    }
}

@media (max-width:1200px) {
    .bottom-box{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-evenly;
        text-align: left;
        align-items: center;
    }
    .bottom-box-r{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        justify-content: space-evenly;
        text-align: left;
        align-items: center;
    }
    
}

@media (max-width:700px) {
    .Main-new-center{
        height: 200px;
    }
    .Main-new-bottom {
        flex-direction: column-reverse;
        width: 100%;
    }
    .mobile{
        display: flex;
        flex-direction: column;
    }
    .Main-new-bottom {
        font-size: 14px;
        
    }
    
    .Main-new-bottom-img-div {
        width: 90%;
    }

    .bottom-box{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        text-align: left;
        align-items: center;
    }
    
}