.postPopup-main {
    position: fixed;
    z-index: 2000;
    width: 100%;
    height: 109%;
    top: 0;
    left: 0;
    background-color: rgba(134, 133, 133, 0.226);
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.postPopup-div {
    animation-name: post;
    animation-duration: 0.5s;
    width: 700px;
}

@keyframes post {
    0% {
        opacity: 0;
        margin-top: 20%;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width:730px) {
    .postPopup-div {
        width: 100%;
    }
}