.login-main {
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-div {
    width: 800px;
    box-shadow: 0 0 9.8px 0.2px rgba(118, 157, 191, 0.19);
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-title {
    font-family: NanumSquareB;
    font-size: 25.5px;
    color: #5e5e5e;
    margin-top: 60px;
    margin-bottom: 68px;
}

.login-btn {
    width: 225px;
    height: 44px;
    border: solid 1px #eeeeee;
    background-color: #96c0e2;
    font-family: NanumSquareR;
    font-size: 15.5px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 43px;
}

.login-search {
    font-family: NanumSquareR;
    font-size: 13.5px;
    color: #9a9a9a;
    margin-bottom: 43px;
}

.login-search > a {
    color: #9a9a9a;
}

.login-search > a:hover {
    color: #608eb4;
    font-weight: 600;
}

.login-bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.login-line {
    width: 181px;
    height: 1px;
    background-color: #dddddd;
}

.login-text {
    font-family: NanumSquareR;
    font-size: 13.5px;
    color: #9a9a9a;
    margin-left: 9px;
    margin-right: 9px;
}

.login-easy {
    font-family: NanumSquareR;
    font-size: 14px;
    color: #9f9f9f;
    margin-top: 46px;
    margin-bottom: 50px;
}

.login-easyb > a, .login-easy > a {
    color: #9a9a9a;
}

.login-easyb > a:hover, .login-easy > a:hover {
    color: #608eb4;
    font-weight: 600;
}
/* ----------------------------------------- */
/* ----------------------------------------- */

.login-inputDiv {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    font-size: 12px;
    color: rgba(255, 0, 0, 0.568);
}

.login-input {
    width: 218px;
    border: none;
    border-bottom: solid 1px #959595;
    width: 218px;
    height: 25px;
    margin-bottom: 20px;
}

.login-inputDiv > ::placeholder {
    font-family: NanumSquareR;
    font-size: 12px;
    color: #5e5e5e;
}

/* ----------------------------------------- */
/* ----------------------------------------- */